/* Container for Sidebar and Main Content */
.container {
    display: flex;
    height: 100vh;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack content for small screens */
    }
  }
  
  /* Main content area */
  .main-content {
    flex: 1;
    overflow-y: auto; /* Make the content scrollable */
    padding: 2rem;
    margin-left: 350px; /* Leave space for the fixed sidebar */
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      padding: 1rem;
    }
  }
  
  /* Section padding and scroll margin */
  .section {
    padding: 2rem 0; /* Reduced padding to lessen gap between sections */
    min-height: 90vh; /* Adjusted height to reduce any excessive gap */
    scroll-margin-top: 70px; /* Adjust this value to fine-tune the section alignment */
  }
  