/* Reset default browser styles and apply the default font family */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; /* Smooth fonts in WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth fonts for Firefox on macOS */
  background-color: #0a192f; /* Dark background */
  color: #ccd6f6; /* Light text color */
}

/* Style for <code> elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Use monospaced fonts for code blocks */
}
